# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\0_dev\StreamAPI\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
